<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <img src="https://res.cloudinary.com/dzgbjty7c/image/upload/v1569098982/logo_zqjqjy.png" alt="">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Hi {{name}},</h1>
                <p>You have requested to reset your password. Please click on the link below to reset your password.</p>
                <a href="{{link}}">Reset Password</a>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>&copy; 2022, All rights reserved</p>
    </div>
</body>
</html>